// Fonts
$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Bree Serif', serif;;

// Colors
$primaryColor: #193441;
$secondaryColor: #3E606F;
$tertiaryColor: #D2DBBF;

// Content Widths

// Images:
